<!DOCTYPE html>
<html>
<head>
	<title>Sandeep's Blog</title>
</head>
<body>
 <div>
            <h1><a href="/">Sandeep's Blog</a></h1>
        </div>

        <div>
            <p>published: 12/07/2017 on 18:14</p>
            <h2><a href="">My first post</a></h2>
            <p>It is my first  blog based on django (a web frame work of python)</p>
        </div>
 
        <div>
            <p>published: 12/07/2017 on 18:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It is all about techno trends and my view on some issues based on tecnology</p>
        </div>
</body>
</html>